*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Silkscreen', sans-serif; */
}
body{
    background-color: black;
}
.cabecalho{
    padding: 20px;
    background-image: linear-gradient(black,rgba(0, 15, 83, 0.671));
}
.rodape{
    padding: 20px;
    background-image: linear-gradient(rgba(0, 15, 83, 0.671),black);
    text-align: center;
    
}
.rodape a{
    text-decoration: none;
    color: rgb(245, 244, 255);
}

.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #f2f1ff, 0 0 3vw #e1e9ff, 0 0 10vw #eceeff, 0 0 10vw #d9dcff, 0 0 .4vw #000000, .5vw .5vw .1vw #000000;
      color: #050503;
    }
    50% {
      text-shadow: 0 0 .5vw #0400ff, 0 0 1.5vw #001986, 0 0 5vw #00218b, 0 0 5vw #002792, 0 0 .2vw #000000, .5vw .5vw .1vw #000000;
      color: #000000;
    }
  }
  
.logo{
    width: 50px;
    margin-right: 20px;
    margin-left: 10px;
}
.div-logo{
    display: flex;
}
.logo-img{
    width: 200px;
    height: 50px;
}
section{
    padding-bottom: 30px;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.btn-prev{
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    color: white;
    background-color: rgb(0, 174, 255);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.btn-prev:hover{
    background-color: white;
    color: rgb(0, 174, 255);
    box-shadow: 0 0 .25em .03em rgb(0, 174, 255);
}
.fundo{
    background-image: url(../img/fundoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 40px;
}
.pokemon_list_three{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pokemon_list_one,.pokemon_list_two{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.number{
    color: #b4ebff;
}
.name{
    color: white;
    font-size: 20px;
}
.pokemon img{
    width: 120px;
    height: 110px;
    
}
.pokemon_fundo{
    width: 260px;
    max-width: 100%;
    height: 400px;
    background-image: url(../img/list_pokemon_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:center;
}
.pokemon_title{
    text-align: start;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bold;
}
.pokemon_details{
    display: flex;
    justify-content: center;
}
.pokemon_details_one{
    display: flex;
    justify-content: start;
}
.pokemon_details_one p{
    margin-left: 30px;
}
.pokemon_details p{
    margin-left: 10px;
    font-weight: bold;
}
.btn{
    width: 100px;
    border-radius: 20px;
    color: white;
    filter: brightness(1.1);
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    filter: brightness(1.3);
    color: rgb(0, 0, 0);
}
.normal{
    border-color: #a6aB77;
    background-color: #878b62;
    box-shadow: 0 0 .25em .03em #585a41;
}
.grass{
    border-color: #77c858;
    background-color: #6eb452;
    box-shadow: 0 0 .25em .03em #5da740;
}
.fire{
    border-color: #ee7f30;
    background-color: #d3712a;
    box-shadow: 0 0 .25em .03em #e2792f;
}
.water{
    border-color: #00a2ff;
    background-color: #33a3ff;
    box-shadow: 0 0 .25em .03em #58aeff;
}
.electric{
    border-color: #f7cf2e;
    background-color: #d1b02b;
    box-shadow: 0 0 .25em .03em #c9a928;
}

.ice{
    border-color: #98d5d7;
    background-color: #91c6c7;
    box-shadow: 0 0 .25em .03em #689494;    
}
.ground{
    border-color: #dfbf69;
    background-color: #b9a05b;
    box-shadow: 0 0 .25em .03em #a18b4d;        
}

.flying{
    border-color: #00588b;
    background-color: #024f8f;
    box-shadow: 0 0 .25em .03em #013e77;
}
.poison{
    border-color: #d28cd2;
    background-color: #be78be;
    box-shadow: 0 0 .25em .03em #be78be;
}
.fighting{
    border-color: #bf3029;
    background-color: #80211c;
    box-shadow: 0 0 .25em .03em #521511;    
}
.psychic{
    border-color: #f65687;
    background-color: #b13d60;
    box-shadow: 0 0 .25em .03em #6e273d;    
}

.dark{
    border-color: #725847;
    background-color: #5e4839;
    box-shadow: 0 0 .25em .03em #2b211b;    
}
.rock{
    border-color: #b8a137;
    background-color: #756622;
    box-shadow: 0 0 .25em .03em #463d14;    
}
.bug{
    border-color: #a8b720;
    background-color: #9aa81c;
    box-shadow: 0 0 .25em .03em #7b8617;    
}
.ghost{
    border-color: #6e5896;
    background-color: #4a3b64;
    box-shadow: 0 0 .25em .03em #221c2e;    
}
.steel{
    border-color: #b9b7cf;
    background-color: #797886;
    box-shadow: 0 0 .25em .03em #494852;    
}
.dragon{
    border-color: #6f38f6;
    background-color: #4f27b4;
    box-shadow: 0 0 .25em .03em #2e1669;    
}
.fairy{
    border-color: #f9aec7;
    background-color: #a06f7f;
    box-shadow: 0 0 .25em .03em #5a3d47;    
}
